/* --- Variables & Reset --- */
:root {
    --primary-orange: #f28b2a;
    --text-dark: #1a1a1a;
    --text-light: #7a7a7a;
    --bg-color: #fffcf5; /* Light cream background */
    --card-bg: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-dark);
    padding: 20px 5%; /* Side padding for the whole page */
}
 a{
    text-decoration: none;
    color: inherit;
}

